dataset/*

# Darknet
models/darknet/*.o
models/darknet/*.a
models/darknet/*.dSYM
models/darknet/*.csv
models/darknet/*.out
models/darknet/*.png
models/darknet/*.so
models/darknet/*.exe
models/darknet/*.dll
models/darknet/*.lib
models/darknet/*.dylib
models/darknet/*.pyc
models/darknet/mnist/
models/darknet/data/
models/darknet/caffe/
models/darknet/grasp/
models/darknet/images/
models/darknet/opencv/
models/darknet/convnet/
models/darknet/decaf/
models/darknet/submission/
models/darknet/cfg/
models/darknet/temp/
models/darknet/build/darknet/*
models/darknet/build_*/
models/darknet/ninja/
models/darknet/ninja.zip
models/darknet/vcpkg_installed/
models/darknet/!build/darknet/YoloWrapper.cs
models/darknet/.fuse*
models/darknet/*.weights
models/darknet/build/*.cmake
models/darknet/build/*.ninja
models/darknet/build/*.txt
models/darknet/build/*.json
models/darknet/build/CMakeFiles/
models/darknet/build/detect_cuda_compute_capabilities.cu
models/darknet/build/.ninja_deps
models/darknet/build/.ninja_log
models/darknet/build/Makefile
models/darknet/*/vcpkg-manifest-install.log
models/darknet/build.log
models/darknet/__pycache__/

# OS Generated #
models/darknet/.DS_Store*
models/darknet/ehthumbs.db
models/darknet/Icon?
models/darknet/Thumbs.db
models/darknet/*.swp

# IDE generated #
models/darknet/.vs/
models/darknet/.vscode/

# Managed by CMake
models/darknet/src/version.h

# Build artifacts
models/darknet/lib/
models/darknet/share/
models/darknet/include/darknet/
models/darknet/uselib
models/darknet/uselib_track
models/darknet/darknet
models/darknet/vcpkg/
