dataset/*

# Darknet
*.o
*.a
*.dSYM
*.csv
*.out
*.png
*.so
*.exe
*.dll
*.lib
*.dylib
*.pyc
models/mnist/
models/data/
models/caffe/
models/grasp/
models/images/
models/opencv/
models/convnet/
models/decaf/
models/submission/
models/cfg/
models/temp/
models/build/darknet/*
models/build_*/
models/ninja/
models/ninja.zip
models/vcpkg_installed/
models/!build/darknet/YoloWrapper.cs
models/.fuse*
*.weights
models/build/*.cmake
models/build/*.ninja
models/build/*.txt
models/build/*.json
models/build/CMakeFiles/
models/build/detect_cuda_compute_capabilities.cu
models/build/.ninja_deps
models/build/.ninja_log
models/build/Makefile
models/*/vcpkg-manifest-install.log
models/build.log
models/__pycache__/

# OS Generated #
models/.DS_Store*
models/ehthumbs.db
models/Icon?
models/Thumbs.db
*.swp

# IDE generated #
.vs/
.vscode/

# Managed by CMake
models/src/version.h

# Build artifacts
models/lib/
models/share/
models/include/darknet/
models/uselib
models/uselib_track
models/darknet
models/vcpkg/
